.container-fluid {
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 15px;
  }
/* 
title holder
------------
*/
.titleHolder {
    text-align: center;
    position: relative;
    padding: 0 0 20px;
    margin: 0 0 40px;
  }
  
  .titleHolder:after {
    transform: translateX(-50%);
    content: '';
    background: #1890ff;
    position: absolute;
    bottom: 0;
    left: 50%;
    height: 3px;
    width: 50px;
  }
  
  .titleHolder h2 {
    font-size: 28px;
    margin: 0;
  }
  /* 
inscription
----- 
*/
.inscriptionBlock .contentHolder {
    text-align: center;
    margin: 0 0 50px;
  }
  
  .inscriptionBlock .icon {
    font-size: 40px;
    color: #1890ff;
    margin: 0 0 10px;
  }
  
  .inscriptionBlock .content {
    text-align: center;
  }
  
  /*card*/
  .card{
    text-align: center;
   
  }
  .ant-col-lg-offset-2 {
      margin-left: 6%;
  }

  @media (min-width: 992px){
  .ant-col-lg-offset-2 {
      margin-left: 5.33333333%;
  }}
  .ant-card-bordered .ant-card-cover {
    margin-top: -1px;
    margin-right: -1px;
    margin-left: -1px;
    height: 300px;
}
